# top-most EditorConfig file
root = true

# Don't use tabs for indentation.
[*]
indent_style = space
# (Please don't specify an indent_size here; that has too many unintended consequences.)

# Python files
[*.{py}]
indent_style = tab
indent_size = 4

# HTML+CSS/JS files
[*.{html,js,cjs}]
indent_style = tab
indent_size = 2
