body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

/* Project and resource dialogs */
label,
input,
select {
  box-sizing: border-box;
  display: block;
  padding-bottom: 0.5em;
}

input.text,
select.text {
  margin-bottom: 1em;
  padding: 0.5em;
  width: 100%;
}

fieldset {
  border: 0;
  margin-top: 1em;
  padding: 0;
}

a,
a:active,
a:focus,
a:visited {
  color: #007eb7;
  outline: 0;
}

a:hover {
  color: #000;
}

.progress {
  box-sizing: border-box;
  padding: 0.5em 0;
}

.logo {
  display: block;
  margin: 0 auto 1em;
  max-height: 20vh;
  max-width: 100%;
}

.ui-dialog {
  margin: auto;
  position: relative;
}

/* Don't display close button in the top right corner of the box */
.ui-dialog.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog .ui-dialog-content {
  margin-top: 1em;
  max-height: calc(100vh - 12em) !important;
  overflow-y: auto;
}

.ui-dialog .ui-dialog-buttonpane {
  /* Avoid padding related overflow */
  box-sizing: border-box;
}

@media only screen and (max-width: 1080px) {
  .ui-dialog .ui-dialog-buttonpane {
    padding-top: 1em;
  }
}

/* Initialisation message (which will disappear behind the canvas) */
#root::after {
  content: "initialising the experiment...";
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Initialisation message for IE11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #root::after {
    color: #a05000;
    content: "initialising the experiment... | Internet Explorer / Edge [beta]";
    font-weight: bold;
  }
}
