html {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
}


/* Initialisation message (which will disappear behind the canvas) */
#root::after {
  content: "initialising...";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#root.is-ready::after {
  content: ""
}


/* Project and resource dialogs */
.dialog-container label,
.dialog-container input,
.dialog-container select {
  box-sizing: border-box;
  display: block;
  padding-bottom: 0.5em;
}

.dialog-container input.text,
.dialog-container select.text {
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;

    height: 34px;
    border: 1px solid #767676;
    border-radius: 2px;
    background: #ffffff;
    color: #333;
    font-size: 14px;
}

.dialog-container fieldset {
    border: 0;
    margin-top: 1em;
    padding: 0;
}

.dialog-container,
.dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dialog-container {
  z-index: 2;
  display: flex;
}

.dialog-container[aria-hidden='true'] {
  display: none;
}

.dialog-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.dialog-content {
  display: flex;
  flex-direction: column;
  row-gap: 0;

  margin: auto;
  z-index: 2;
  position: relative;

  width: 500px;
  max-width: 88vw;
  /*max-height: 90vh;*/
  max-height: 93%;

  padding: 0.5em;
  border-radius: 2px;

  font-family: 'Open Sans', sans-serif;
  color: #333333;

  background-color: #EEEEEE;
  border-color: #CCCCCC;
  box-shadow: 1px 1px 3px #555555;
}

.dialog-content .scrollable-container {
  height: 100%;
  padding: 0 0.5em;

  overflow-x: hidden;
  overflow-y: auto;
}

.dialog-content hr {
  width: 100%;
}

.dialog-title {
  padding: 0.5em;
  margin-bottom: 1em;

  background-color: #00dd00;
  /*background-color: #009900;*/
  border-radius: 2px;
}

.dialog-warning {
  background-color: #FF9900 !important;
}

.dialog-error {
  background-color: #FF0000 !important;
}

.dialog-title p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.dialog-close {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.1em;

  position: absolute;
  top: 0.7em;
  right: 0.7em;
  border: 0;
  padding: 0;
  border-radius: 2px;

  width: 1.1em;
  height: 1.1em;

  color: #333333;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 1.25em;

  text-align: center;
  cursor: pointer;
  transition: 0.15s;
}

.progress-msg {
  box-sizing: border-box;
  padding: 0.5em 0;
}

.progress-container {
  padding: 0.2em;
  border: 1px solid #555555;
  border-radius: 2px;

  background-color: #FFFFFF;
}

.progress-bar {
  width: 0;
  height: 1.5em;

  background-color: #CCCCCC;
}

.dialog-button {
  padding: 0.5em 1em 0.5em 1em;
  /*margin: 0.5em 0.5em 0.5em 0;*/
  border: 1px solid #555555;
  border-radius: 2px;

  font-size: 0.9em;
  color: #000000;
  background-color: #FFFFFF;

  cursor: pointer;
}

.dialog-button:hover {
  background-color: #EEEEEE;
}

.dialog-button:active {
  background-color: #CCCCCC;
}

.dialog-button:focus {
  border: 1px solid #000000;
}

.dialog-button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 0.5em;
}

.disabled {
  border: 1px solid #AAAAAA;
  color: #AAAAAA;
  background-color: #EEEEEE;

  cursor: not-allowed;
  pointer-events: none;
}

.logo {
  display: flex;
  flex: 0 1 auto;
  height: 100%;
  width: auto;

  /*display: block;
  margin: 0 auto 1em;
  max-height: 20vh;
  max-width: 100%;*/
}

a,
a:active,
a:focus,
a:visited {
  color: #007eb7;
  outline: 0;
}

a:hover {
  color: #000;
}

